:root{
    --clr-main: #eeeef0;
    --clr-background: #d7dcdd;
    --clr-white: #fdfeff;
    --clr-outline: #dedede;
    --clr-accent: #2e8bc0;
    --clr-text: #0c2d48;
}
*{
    margin: 0; border: 0;
    font-family: "Montserrat", sans-serif;
}
#navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: var(--clr-text);
    
    *{  
        font-size: 1rem;
        font-weight: 500;
        margin: 0 2rem;
        color: var(--clr-main);
    }
    a{
        text-decoration: none;
    }
}
main{
    min-height: calc(100vh - 60px);
    background-color: var(--clr-background);
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 40px;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 60px;
    
    .container{
        min-width: 400px;
        width: 30vw;
        min-height: 70vh;
        background-color: var(--clr-main);
        border-radius: 20px;
        
        > *{
            padding: 20px;
        }
        img{
            outline: 2px solid var(--clr-outline);
            outline-offset: 5px;
            border-radius: 5px
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--clr-white);
            margin: 20px;
            border-radius: 10px;
            gap: 20px;

            table{
                border-collapse: collapse;
                width: 100%;
                th, td{
                    padding: 10px .5rem;
                    text-align: left;
                }
                tr:first-child{
                    th{
                        border-bottom: 2px solid var(--clr-outline);  
                    }
                }
            }

            
        }
        .schedule_week{
            display: block;
            overflow-x: scroll;

            table{                
                th, td{
                    min-width: 150px;
                }

                td{
                    vertical-align: top;
                    h4{
                        margin-top: 10px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .schedule_week::-webkit-scrollbar{
            height: 10px;
        }
        .schedule_week::-webkit-scrollbar-thumb{
            background-color: var(--clr-accent);
            border-radius: 5px;
        }

    }
    .container:last-child{
        width: max(50vw, 400px);
    }
}