:root{
    --clr-main: #eeeef0;
    --clr-background: #d7dcdd;
    --clr-white: #fdfeff;
    --clr-outline: #dedede;
    --clr-accent: #2e8bc0;
    --clr-text: #0c2d48;
}
*{
    margin: 0; border: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f8f9fa;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: var(--clr-text);
    
    *:not(div){  
        font-size: 1rem;
        font-weight: 500;
        margin: 0 2rem;
        color: var(--clr-background);
    }
    a{
        text-decoration: none;
    }
    button{
        cursor: pointer;
    }
}  
.sub-options button {
    width: 80%;
    padding: 10px;
    margin: 5px 20px;
    border: none;
    background: #26ac9e8a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-left: 10px;

}
.main{
    min-height: calc(100vh - 60px);
    background-color: var(--clr-background);

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'sidebar main';
    padding-bottom: 60px;

    .sidebar{
        box-sizing: border-box;
        cursor: default;
        background-color: #f1f1f1;
        width: 250px;
        padding: 5px 1rem;

        display: flex;
        flex-direction: column;
        flex-grow: 1;


        ul{
            cursor: pointer;
            list-style: none;
            font-weight: 500;
            
            li:hover{
                background-color: #d1d1d1;
            }
        }
    }
}