:root{
    --clr-main: #eeeef0;
    --clr-background: #d7dcdd;
    --clr-white: #fdfeff;
    --clr-outline: #dedede;
    --clr-accent: #2e8bc0;
    --clr-text: #0c2d48;
    --clr-error-bg: rgb(240, 131, 131);
    --clr-error-text: rgb(158, 18, 18);
    --clr-success-bg: rgb(122, 230, 122);
    --clr-success-text: rgb(6, 117, 62);
}
*{
    margin: 0; border: 0;
    font-family: "Montserrat", sans-serif;
}
#navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: var(--clr-text);
    
    *{  
        font-size: 1rem;
        font-weight: 500;
        margin: 0 2rem;
        color: var(--clr-main);
    }
    a{
        text-decoration: none;
    }
}
main{
    min-height: calc(100vh - 60px);
    background-color: var(--clr-background);
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 40px;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 60px;
    
    .container{
        min-width: 400px;
        width: 30vw;
        min-height: 70vh;
        background-color: var(--clr-main);
        border-radius: 20px;
        
        > *{
            padding: 20px;
        }
        img{
            outline: 2px solid var(--clr-outline);
            outline-offset: 5px;
            border-radius: 5px
        }
        > div{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--clr-white);
            margin: 20px;
            border-radius: 10px;
            gap: 20px;

            table{
                border-collapse: collapse;
                width: 100%;
                th, td{
                    padding: 10px .5rem;
                    text-align: left;
                }
                tr:first-child{
                    th{
                        border-bottom: 2px solid var(--clr-outline);  
                    }
                }
            }   
        }
        .head{
            background-color: transparent;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .schedule_week{
            display: block;
            overflow-x: scroll;

            table{                
                th, td{
                    min-width: 150px;
                }

                td{
                    vertical-align: top;
                    h4{
                        margin-top: 10px;
                        margin-bottom: 5px;
                    }
                    p{
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .schedule_week::-webkit-scrollbar{
            height: 10px;
        }
        .schedule_week::-webkit-scrollbar-thumb{
            background-color: var(--clr-accent);
            border-radius: 5px;
        }

    }
    .container:last-child{
        width: max(50vw, 400px);
    }

    
}

button{
    margin-left: 5px;
    padding: .5rem;
    background-color: var(--clr-accent);
    color: var(--clr-main);
    width: 150px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);    
}
button:hover{
    transform: translateX(5%);
}

.full_screen_container{
    width: 100vw; height: 100vh;
    position: fixed; top: 0; left: -100%;
    filter: opacity(0);
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.2);
    transition: .2s ease-in-out;
    z-index: 1;
}
.add_subject{
    width: 40%;
    height: 40%;
    padding: 2rem;
    border-radius: 20px;
    background-color: var(--clr-main);
    transition: .2s ease-in;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center ;
    }
    form{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        border: 2px solid var(--clr-outline);
        padding: 1rem;
        gap: 10px;
        border-radius: 20px;

        label{
            font-weight: 500;
            font-size: 1rem;
        }
        input{
            height: 1.5rem;
            font-size: 1rem;
            padding: 5px;
            background-color: transparent;
            border-bottom: 1px solid var(--clr-text);
            margin-bottom: 1rem;
        }
        .grid{
            margin-top: 0;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
}
#close_form{
    cursor: pointer;
    transition: .2s cubic-bezier(.33, .04, 0, 1);
    background-color: var(--clr-accent);
    padding: .4rem 0;
    width: 1.8rem;
    text-align: center;
    border-radius: 25px;
    color: var(--clr-white);
    overflow: hidden;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
    h3{
        padding: 0 10px;
        font-size: .75rem;
    }
}
#close_form:hover{
    width: 6rem;
    transform: translateX(-5%);
}
.add_subject.show{
    left: 50%;
}
.full_screen_container.show{
    left: 0; 
    filter: opacity(1);
}
.error{
    background-color: var(--clr-error-bg);
    color: var(--clr-error-text);
    padding: .5rem;
    margin: 10px 0;
    border-radius: 12px;
}
.success{
    background-color: var(--clr-success-bg);
    color: var(--clr-success-text);
    padding: .5rem;
    margin: 10px 0;
    border-radius: 12px;
}

@media (max-width: 600px) {
    .add_subject{
        width: 60%;
    }
    #close_form:hover{
        width: 1.8rem;
    }
}