:root{
    --clr-main: #eeeef0;
    --clr-background: #d7dcdd;
    --clr-white: #fdfeff;
    --clr-outline: #dedede;
    --clr-accent: #2e8bc0;
    --clr-accent-2: #287dad;
    --clr-accent-transparent: #2e8bc042;
    --clr-text: #0c2d48;
    --clr-subtext: #455564;
    --clr-warning: rgb(255, 42, 42);
}
*{
    margin: 0; border: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f8f9fa;
    max-height: 100vh;
}
.container{
    background-color: var(--clr-main);
    border-radius: 5px;
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 5px;

    *{
        padding: 10px 25px;
    }
}
.grid{
    margin-top: 20px;
    display: grid;
}
.student_list{
    grid-template-columns: 1fr auto;
    gap: 20px;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: var(--clr-text);
    
    *:not(div){  
        font-size: 1rem;
        font-weight: 500;
        margin: 0 2rem;
        color: var(--clr-background);
    }
    a{
        text-decoration: none;
    }
}  

button{
    margin-left: 5px;
    padding: .5rem;
    background-color: var(--clr-accent);
    color: var(--clr-main);
    width: 150px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);    
}

/* .sub-options button {
    width: 80%;
    padding: 10px;
    margin: 5px 20px;
    border: none;
    background: #26ac9e8a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-left: 10px;

} */
.main{
    max-height: calc(100vh - 40px);
    background-color: var(--clr-background);

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'sidebar main';
    padding-bottom: 60px;
    position: relative;

    .sidebar{
        box-sizing: border-box;
        cursor: default;
        background-color: #f1f1f1;
        width: 250px;
        height: calc(100vh - 40px);
        padding: 2rem 1rem;

        display: flex;
        flex-direction: column;
        flex-grow: 1;


        ul{
            cursor: pointer;
            list-style: none;
            font-weight: 500;
            
            li{
                padding: 1rem 5px;
                border-radius: 5px;
                transition: .1s ease-in;

                a{
                    text-decoration: none;
                    color: black;
                }
            }
            li:hover{
                background-color: #d1d1d1;
            }
        }
    }

    main{
        padding: 20px 3rem;

        .breadcrumbs{
            color: var(--clr-text);
            margin-bottom: 20px;
        }
        
        .schedules_grid{
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 10px;
            cursor: pointer;

            .schedule_container{
                position: relative;
                background-color: var(--clr-main);
                border-radius: 5px;
                transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
                border: 2px solid var(--clr-background);
                text-align: center;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h4{
                    font-size: 1.5rem;
                }
                > * {
                    padding: 10px 25px;
                }

                .details{
                    display: flex;
                    flex-direction: column;
                    margin-top: auto;
                    width: 100%;
                    justify-content: space-evenly;

                    .dys{
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        justify-content: center;
                    }

                    h5{
                        font-size: 900;
                    }

                    p{
                        font-size: .9rem;
                    }
                }
            }
            .schedule_container:hover{
                transform: translateY(-10%);
            }
            .schedule_container::after{
                position: absolute;
                content: '';
                background-color: var(--clr-accent);
                width: 100%;
                border-radius: 24px;
                height: 0;
                bottom: -10%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                font-weight: bold;
                color: var(--clr-white);
                overflow: hidden;
                transition: .1s linear;

            }
            .schedule_container:hover::after{
                height: 10%;
                width: 105%;
            }
        }
    }
}

.full_screen_container{
    width: 100vw; height: 100vh;
    position: fixed; top: 0; left: -100%;
    filter: opacity(0);
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.2);
    transition: .2s ease-in-out;
    z-index: 1;
}
.add_schedule, .edit_schedule{
    width: 40%;
    height: 80%;
    padding: 2rem;
    border-radius: 20px;
    background-color: var(--clr-main);
    transition: .2s ease-in;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center ;
    }
    .form-step{
        height: 80%;

        .form{
            margin-top: 20px;
            display: flex;
            height: 100%;
            flex-direction: column;
            border: 2px solid var(--clr-outline);
            padding: 1rem;
            gap: 10px;
            border-radius: 20px;
    
            label{
                font-weight: 500;
                font-size: 1rem;
            }
            input{
                height: 1.5rem;
                font-size: 1rem;
                padding: 5px;
                background-color: transparent;
                border-bottom: 1px solid var(--clr-text);
                margin-bottom: 1rem;
            }
            .radio_btns{
                display: flex;
                flex-direction: row;
                gap: 5px;

                cursor: pointer;
            }
            #schedule-details-form{
                min-height: 70vh;
            }
            .grid{
                margin-top: 0;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
            }
            .navigation-buttons{
                margin-top: auto;
            }
        }
    }
}

.breadcrumbs{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: fit-content;
}
#student_table{
    width: 80%;
    margin: 2rem 10%;
    outline: 2px solid var(--clr-outline);
    border-collapse: collapse;
    border-radius: 10px 10px 0 0;
    td, th{
        width: 33%;
    }
    th{
        border-bottom: 2px solid var(--clr-outline);
    }
    td:first-child{
        text-align: right;
    }
    td:last-child{
        text-align: center;
    }
}
.add_students{
    display: grid;
    grid-template-columns: 1fr auto;

    .pending_class_list{
        max-height: 0;
        min-width: 60vw;
        overflow: hidden hidden;
        transition: .5s ease-out;
    }
    .pending_class_list.show{
        max-height: 80vh;
        overflow: hidden scroll;
    }
    .options{
        display: flex;
        flex-direction: column;
        gap: 10px;
        button{
            margin-left: 0;
        }

        #close_form{
            align-self: flex-end;
            margin-bottom: 40px;
        }
    }
}
#close_form{
    cursor: pointer;
    transition: .2s cubic-bezier(.33, .04, 0, 1);
    background-color: var(--clr-accent);
    padding: .4rem 0;
    width: 1.8rem;
    text-align: center;
    border-radius: 25px;
    color: var(--clr-white);
    overflow: hidden;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
    h3{
        padding: 0 10px;
        font-size: .75rem;
    }
}
#close_form:hover{
    width: 6rem;
    transform: translateX(-5%);
}
.account{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

    .container{
        padding: 20px;
    }
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile_picture{
        position: relative;
        width: 150px; height: 150px;
        background-color: var(--clr-accent);
        border-radius: 50px 100% 100% 100%;
        padding:0;

        #picture{
            padding: 0;
            position: absolute;
            width: 90%;
            height: 90%;
            object-fit: cover;
            border-radius: 100%;
            left: 50%; top: 50%;
            border: 5px solid var(--clr-white);
            transform: translate(-50%, -50%);            
        }
    }
}
.info_frame{
    text-align: center;
    h5{
        color: var(--clr-subtext);
        border-bottom: 2px solid var(--clr-outline);
    }
}
.horizontal_info{
    display: flex;
    justify-content: center;

    *:not(:first-child){
        border-left: 1px solid var(--clr-outline);
    }
}

.grid.dashboard{
    grid-template-columns: 4fr 6fr;
    gap: 40px;
}
.student_status{
    gap: 20px;
    grid-template-columns: auto auto;
}
.dashboard_card{
    padding: 1rem;

    h5{
        margin-bottom: -10px;
        filter: opacity(50%);
    }
    h3{
        font-size: 2rem;
    }
}
.weekly_calendar{
    border-radius: 10px;
    background-color: var(--clr-main);
    padding: 10px;
    .direction{
        display: flex;
        justify-content: space-between;
        align-items: center;

        *{
            padding: 0 1rem;
        }
        p{
            font-weight: bold;
        }
    }
    table{
        margin-top: 30px;
        border-collapse: collapse;
        width: 100%;

        td, th{
            padding: .5rem;
            text-align: center;
        }
        th{
            font-size: .75rem;
        }
        td{
            padding: 2rem 0;
            font-size: 1.5rem
        }

        #current{
            position: relative;
            background-color: var(--clr-accent);
            color: var(--clr-main);
            border-radius: 20px;
        }
        #current::before{
            content: '';
            position: absolute;
            width: 30%; height: 10%;
            background-color: var(--clr-main);
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 0 0 20px 20px;
        }
    }
}


.topAbsents{
    border-radius: 10px;
    background-color: var(--clr-main);
    padding: 10px;
    .direction{
        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            text-align: center;
            font-weight: bold;
        }
    }
    table{
        margin-top: 30px;
        border-collapse: collapse;
        width: 100%;

        td, th{
            padding: .5rem;
            text-align: center;
        }
        tr{
            font-size: .75rem;
        }
        td{
            padding: 10px;
            font-size: 1rem;
        }

    }
}

.profSchedule{
    border-radius: 10px;
    background-color: var(--clr-main);
    padding: 10px;
    text-align: center;
    .direction{
        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            text-align: center;
            font-weight: bold;
        }
    }
    table{
        margin-top: 30px;
        border-collapse: collapse;
        width: 100%;

        td, th{
            padding: .5rem;
            text-align: center;
        }
        tr{
            font-size: .75rem;
        }
        td{
            padding: 10px;
            font-size: 1rem;
        }

    }
}




.card1{
    background-color: var(--clr-accent);
    color: var(--clr-main);
}

.add_schedule.show{
    left: 50%;
}
.full_screen_container.show{
    left: 0; 
    filter: opacity(1);
}
button:hover{
    background-color: var(--clr-accent-2);
}

.form-step {
    display: none;
}

.form-step.active {
    display: block;
}

.navigation-buttons {
    margin-top: 20px;
}

.navigation-buttons button {
    margin-right: 10px;
}

.feedback{
    position: fixed;
    bottom: 2%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, 500%);
    min-width: 40%;
    padding: 1rem 2rem;
    background-color: var(--clr-main);
    border-radius: 20px;
    text-align: center;
    transition: .2s ease;
    z-index: 1000;

    &.success{
        color: rgb(0, 189, 0);
        transform: translate(-50%, 0%);
    }
    
    &.error{
        color: rgb(255, 42, 42);
        transform: translate(-50%, 0%);
    }
}

/* schedule section */

.page_header{
    display: flex;
    flex-direction: row;
}

.schedule_information{
    margin-top: 20px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--clr-main);
    border-radius: 20px;

    .section{
        display: flex;
        flex-direction: column;
        gap: 5px;

        
    }

    .sec1{
        #sectionID{
            font-size: .75rem;
        }
    }

    .sec2{
        text-align: center;

        .time{
            display: flex;
            gap: 5px;
        }
    }
    .sec3{
        text-align: center;
    }
}

.schedule_options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

#delete{
    background-color: var(--clr-warning);
}

.student_table{
    background-color: var(--clr-main);
    padding: 1rem;
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;

    th, td{
        width: calc(100%/3);
        text-align: left;
    }
}

.page_header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filter_group{
        display: flex;
        flex-direction: row;
        gap: 5px;
        flex-wrap: nowrap;
        width: 50%;
        input, select{
            padding: .5rem 1rem;
            border-radius: 12px;
        }
        input{
            width: 50%;
        }
    }
}

.button_group{
    display: flex;
    flex-direction: row;


    width: 100%;
    button:last-child{
        margin-left: auto;
        width: 40%;
    }
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, 0.2);
    transition: .2s ease;

    &.show{
        opacity: 1;
        transform: translateX(0%);
    }
}
.attendance_history{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-main);
    height: 80%;
    width: 80%;
    border-radius: 20px;
    padding: 2rem;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center ;

        margin-bottom: 20px;
    }

    .attendanceBody{
        overflow-y: auto;
    }

    table{
        padding: .5rem;
        border-bottom: 1px solid var(--clr-outline);
        margin-bottom: 10px;
        width: 100%;
        th, td{
            text-align: left;
            width: calc(100% / 3);
        }
    }
}